In [43]:
import pandas as pd

In [44]:
# Load dataset
df1 = pd.read_csv('covariates.csv')

In [45]:
# Group data by sex and calculate mean weight
grouped = df1.groupby('e3_sex_None')['hs_c_weight_None'].mean()

In [46]:
# Print result
print(grouped)

e3_sex_None
female    27.936513
male      29.026696
Name: hs_c_weight_None, dtype: float64

The "male" gender has the highest weight with a mean value of 29.026696

In [47]:
# Load remaining datasets
df2 = pd.read_csv('phenotype.csv')
df3 = pd.read_csv('codebook.csv')
df4 = pd.read_csv('exposome.csv')

In [48]:
#Print shape of the dataset
print(df2.shape)

(1301, 7)

In [49]:
#Print column names of the dataset
print(df2.columns)

Index(['ID', 'e3_bw', 'hs_asthma', 'hs_zbmi_who', 'hs_correct_raven',
       'hs_Gen_Tot', 'hs_bmi_c_cat'],
      dtype='object')

In [50]:
#Print the data types of the columns in the dataset
print(df2.dtypes)

ID                    int64
e3_bw                 int64
hs_asthma             int64
hs_zbmi_who         float64
hs_correct_raven      int64
hs_Gen_Tot          float64
hs_bmi_c_cat          int64
dtype: object

In [51]:
#Print first five rows
print(df2.head())

   ID  e3_bw  hs_asthma  hs_zbmi_who  hs_correct_raven  hs_Gen_Tot  \
0   1   4100          0         0.30                18        84.0
1   2   4158          0         0.41                25        39.0
2   3   4110          1         3.33                13        40.0
3   4   3270          0        -0.76                28        54.5
4   5   3950          0         0.98                19        18.0

   hs_bmi_c_cat
0             2
1             2
2             4
3             2
4             2

In [52]:
#Print last five rows
print(df2.tail())

        ID  e3_bw  hs_asthma  hs_zbmi_who  hs_correct_raven  hs_Gen_Tot  \
1296  1297   2900          0         1.94                31     34.4375
1297  1298   3420          0        -0.46                34     28.5625
1298  1299   4068          1         1.04                22     13.0000
1299  1300   4000          0        -1.18                32     18.3125
1300  1301   3580          0         0.48                28      0.0000

      hs_bmi_c_cat
1296             3
1297             2
1298             3
1299             2
1300             2

In [53]:
# Print summary statistics phenotype
print(df2.describe())

               ID        e3_bw    hs_asthma  hs_zbmi_who  hs_correct_raven  \
count  1301.00000  1301.000000  1301.000000  1301.000000       1301.000000
mean    651.00000  3389.302075     0.109147     0.403236         26.288240
std     375.71066   509.994539     0.311943     1.189894          6.444849
min       1.00000  1100.000000     0.000000    -3.580000          9.000000
25%     326.00000  3080.000000     0.000000    -0.400000         22.000000
50%     651.00000  3398.000000     0.000000     0.280000         27.000000
75%     976.00000  3720.000000     0.000000     1.130000         32.000000
max    1301.00000  5260.000000     1.000000     4.720000         36.000000

        hs_Gen_Tot  hs_bmi_c_cat
count  1301.000000   1301.000000
mean     24.376722      2.385857
std      19.028232      0.677268
min       0.000000      1.000000
25%      10.000000      2.000000
50%      20.000000      2.000000
75%      33.437500      3.000000
max     133.000000      4.000000

In [54]:
print(df3.shape)

(241, 13)

In [55]:
print(df3.columns)

Index(['Unnamed: 0', 'variable_name', 'domain', 'family', 'subfamily',
       'period', 'location', 'period_postnatal', 'description', 'var_type',
       'transformation', 'labels', 'labelsshort'],
      dtype='object')

In [56]:
print(df3.dtypes)

Unnamed: 0          object
variable_name       object
domain              object
family              object
subfamily           object
period              object
location            object
period_postnatal    object
description         object
var_type            object
transformation      object
labels              object
labelsshort         object
dtype: object

In [57]:
print(df3.head())
print(df3.tail())

               Unnamed: 0           variable_name             domain  \
0    h_abs_ratio_preg_Log    h_abs_ratio_preg_Log  Outdoor exposures
1    h_no2_ratio_preg_Log    h_no2_ratio_preg_Log  Outdoor exposures
2  h_pm10_ratio_preg_None  h_pm10_ratio_preg_None  Outdoor exposures
3  h_pm25_ratio_preg_None  h_pm25_ratio_preg_None  Outdoor exposures
4      hs_no2_dy_hs_h_Log      hs_no2_dy_hs_h_Log  Outdoor exposures

          family     subfamily     period location        period_postnatal  \
0  Air Pollution  PMAbsorbance  Pregnancy     Home                     NaN
1  Air Pollution           NO2  Pregnancy     Home                     NaN
2  Air Pollution          PM10  Pregnancy     Home                     NaN
3  Air Pollution         PM2.5  Pregnancy     Home                     NaN
4  Air Pollution           NO2  Postnatal     Home  Day before examination

                                         description var_type  \
0  abs value (extrapolated back in time using rat...  numeric
1  no2 value (extrapolated back in time using rat...  numeric
2  pm10 value (extrapolated back in time using ra...  numeric
3  pm25 value (extrapolated back in time using ra...  numeric
4  no2 value (extrapolated back in time using rat...  numeric

      transformation    labels labelsshort
0  Natural Logarithm     PMabs       PMabs
1  Natural Logarithm       NO2         NO2
2               None      PM10        PM10
3               None     PM2.5       PM2.5
4  Natural Logarithm  NO2(day)    NO2(day)
           Unnamed: 0     variable_name     domain     family  \
236         hs_asthma         hs_asthma  Phenotype  Phenotype
237       hs_zbmi_who       hs_zbmi_who  Phenotype  Phenotype
238  hs_correct_raven  hs_correct_raven  Phenotype  Phenotype
239        hs_Gen_Tot        hs_Gen_Tot  Phenotype  Phenotype
240      hs_bmi_c_cat      hs_bmi_c_cat  Phenotype  Phenotype

                     subfamily     period location period_postnatal  \
236  Outcome at 6-11 years old  Postnatal      NaN              NaN
237  Outcome at 6-11 years old  Postnatal      NaN              NaN
238  Outcome at 6-11 years old  Postnatal      NaN              NaN
239  Outcome at 6-11 years old  Postnatal      NaN              NaN
240  Outcome at 6-11 years old  Postnatal      NaN              NaN

                                           description var_type  \
236                     Doctor diagnosed asthma (ever)   factor
237  Body mass index z-score at 6-11 years old - WH...  numeric
238  Intelligence quotient at 6-11 years old - Tota...  numeric
239  Neuro behavior - Internalizing and externalizi...  numeric
240  Body mass index categories at 6-11 years old -...   factor

    transformation                   labels labelsshort
236           None                   Asthma      Asthma
237           None  Body mass index z-score        zBMI
238           None    Intelligence quotient          IQ
239           None                 Behavior    Behavior
240           None    Body mass index (cat)     BMI_cat

In [58]:
print(df3.describe())

                  Unnamed: 0         variable_name     domain     family  \
count                    241                   241        241        241
unique                   241                   241          6         20
top     h_abs_ratio_preg_Log  h_abs_ratio_preg_Log  Chemicals  Lifestyle
freq                       1                     1        106         39

       subfamily     period location        period_postnatal  \
count        241        241       77                      21
unique        81          2        2                       4
top         Diet  Postnatal     Home  Day before examination
freq          29        142       66                       7

                                              description var_type  \
count                                                 241      241
unique                                                240        2
top     Dimethyl thiophosphate (DMTP) in child adjuste...  numeric
freq                                                    2      180

          transformation labels labelsshort
count                241    241         241
unique                 6    178         183
top     Logarithm base 2  DMDTP       MECPP
freq                  94      3           2

In [59]:
#Count missing values per column
missing_values_count = df2.isnull().sum()
print(missing_values_count)

ID                  0
e3_bw               0
hs_asthma           0
hs_zbmi_who         0
hs_correct_raven    0
hs_Gen_Tot          0
hs_bmi_c_cat        0
dtype: int64

In [60]:
#Extract all IDs of indivuduals with a BMI classification at age 6-11 of overweight or obese
ids = df2[df2["hs_bmi_c_cat"].isin([3, 4])]["ID"].tolist()

# Print the IDs
print(ids)

[3, 10, 11, 12, 15, 16, 21, 25, 27, 30, 34, 39, 41, 43, 52, 54, 63, 67, 70, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 95, 110, 112, 120, 121, 127, 140, 141, 142, 143, 144, 147, 150, 155, 159, 160, 170, 172, 174, 181, 183, 192, 193, 199, 200, 204, 206, 209, 213, 214, 225, 227, 229, 233, 247, 257, 259, 262, 266, 268, 270, 279, 284, 285, 292, 295, 297, 298, 299, 301, 302, 303, 304, 306, 309, 312, 315, 323, 324, 325, 328, 333, 336, 339, 340, 344, 345, 346, 351, 352, 359, 361, 362, 364, 366, 367, 379, 381, 385, 386, 388, 392, 397, 404, 407, 409, 410, 421, 424, 431, 433, 436, 437, 438, 441, 442, 443, 444, 447, 448, 452, 453, 458, 459, 461, 466, 469, 475, 481, 484, 490, 494, 497, 501, 502, 510, 512, 522, 523, 526, 530, 536, 540, 547, 550, 551, 552, 553, 554, 559, 562, 565, 574, 575, 577, 582, 584, 598, 599, 608, 609, 612, 615, 616, 617, 618, 620, 622, 623, 629, 631, 637, 638, 641, 645, 647, 648, 663, 664, 666, 670, 671, 680, 684, 686, 688, 690, 691, 702, 704, 707, 710, 712, 714, 717, 718, 719, 720, 721, 732, 735, 737, 740, 746, 747, 751, 756, 758, 759, 765, 766, 769, 784, 785, 790, 797, 798, 799, 800, 806, 809, 810, 815, 819, 822, 823, 829, 837, 840, 845, 846, 847, 848, 850, 852, 853, 855, 857, 861, 865, 868, 869, 870, 872, 875, 877, 880, 881, 886, 892, 893, 904, 906, 907, 908, 911, 914, 918, 920, 922, 924, 931, 936, 939, 941, 950, 957, 962, 965, 967, 969, 977, 984, 985, 987, 990, 991, 992, 993, 994, 998, 999, 1006, 1008, 1010, 1011, 1012, 1014, 1016, 1019, 1020, 1027, 1029, 1030, 1032, 1041, 1043, 1044, 1045, 1047, 1048, 1055, 1056, 1058, 1065, 1066, 1067, 1069, 1071, 1072, 1074, 1075, 1078, 1081, 1085, 1089, 1090, 1092, 1093, 1096, 1099, 1101, 1103, 1106, 1108, 1114, 1116, 1124, 1127, 1128, 1129, 1130, 1131, 1137, 1139, 1140, 1151, 1154, 1156, 1157, 1161, 1166, 1167, 1169, 1175, 1177, 1181, 1182, 1183, 1190, 1191, 1192, 1196, 1201, 1204, 1211, 1212, 1221, 1224, 1225, 1237, 1249, 1250, 1255, 1259, 1275, 1276, 1285, 1290, 1291, 1295, 1297, 1299]

In [61]:
from collections import Counter

#Count occurences of each ID in the list
id_counts = Counter(ids)

#Print the IDs that occur more than once
duplicates = [id for id, count in id_counts.items() if count > 1]
print("The following IDs occur more than once in the extracted target cohort: ", duplicates)

The following IDs occur more than once in the extracted target cohort:  []

In [62]:
#Create a new dataframe with the cohort records
cohort_df = df[df["ID"].isin(ids)]

print(cohort_df.head())
print(cohort_df.tail())

    ID  h_cohort e3_sex_None  e3_yearbir_None  h_mbmi_None  hs_wgtgain_None  \
2    3         4        male             2008    30.116213             11.0
9   10         1      female             2008    40.333778              9.0
10  11         1      female             2008    32.073063             10.0
11  12         3        male             2006    23.738663             18.0
14  15         4        male             2008    43.027718             12.0

    e3_gac_None  h_age_None  h_edumc_None  h_native_None  h_parity_None  \
2     39.000000   34.232422             3              2              1
9     41.000000   25.000000             1              1              2
10    40.714287   31.000000             3              0              1
11    39.000000   37.598904             3              2              1
14    41.428570   30.674887             2              2              0

    hs_child_age_None  hs_c_height_None  hs_c_weight_None
2            6.110883             1.280              37.5
9            6.447639             1.251              30.3
10           6.436573             1.293              41.6
11           8.637805             1.330              48.0
14           6.458476             1.290              33.0
        ID  h_cohort e3_sex_None  e3_yearbir_None  h_mbmi_None  \
1289  1290         5      female             2005    27.636054
1290  1291         2      female             2004    19.506857
1294  1295         3        male             2006    26.813591
1296  1297         6      female             2008    33.564014
1298  1299         4        male             2008    27.379665

      hs_wgtgain_None  e3_gac_None  h_age_None  h_edumc_None  h_native_None  \
1289             14.0    40.142857   33.000000             3              2
1290             20.0    37.428570   30.600958             1              1
1294             30.0    41.428570   32.208076             2              2
1296             17.0    40.428570   32.150581             2              2
1298             20.0    41.285713   22.031279             3              2

      h_parity_None  hs_child_age_None  hs_c_height_None  hs_c_weight_None
1289              0           8.867785             1.355              28.0
1290              1          10.113621             1.355              35.4
1294              2           8.495665             1.377              41.7
1296              1           6.809149             1.234              29.7
1298              2           6.497034             1.250              26.5

In [63]:
#Check for duplicate rows
if cohort_df.duplicated().any():
    print("There are duplicate rows in the cohort dataframe.")
else:
    print("There are no duplicate rows in the new dataframe.")

There are no duplicate rows in the new dataframe.

In [64]:
#Find suplicate rows across all columns except the ID column
similarRows = cohort_df[cohort_df.duplicated(subset=cohort_df.columns.difference(['ID']))]["ID"].tolist()

print("IDs for the rows that have duplicates except ID: ", similarRows)

IDs for the rows that have duplicates except ID:  []

In [68]:
# Intentionally duplicate the first 3 rows of the dataframe
cohort_df = pd.concat([cohort_df, cohort_df.iloc[:3]], ignore_index=True)

In [71]:
#Check for duplicate rows
if cohort_df.duplicated().any():
    print("There are duplicate rows in the cohort dataframe.")
else:
    print("There are no duplicate rows in the new dataframe.")

There are duplicate rows in the cohort dataframe.

In [72]:
#Find suplicate rows across all columns except the ID column
similarRows = cohort_df[cohort_df.duplicated(subset=cohort_df.columns.difference(['ID']))]["ID"].tolist()

print("IDs for the rows that have duplicates except ID: ", similarRows)

IDs for the rows that have duplicates except ID:  [3, 10, 11, 3, 10, 11]

In [73]:
# Reverse the intentional duplication
cohort_df = cohort_df.drop_duplicates(subset=cohort_df.columns.difference(['ID']), keep='first')

In [75]:
#Check for duplicate rows
if cohort_df.duplicated().any():
    print("There are duplicate rows in the cohort dataframe.")
else:
    print("There are no duplicate rows in the new dataframe.")

There are no duplicate rows in the new dataframe.

In [77]:
#Find suplicate rows across all columns except the ID column
similarRows = cohort_df[cohort_df.duplicated(subset=cohort_df.columns.difference(['ID']))]["ID"].tolist()

print("IDs for the rows that have duplicates except ID: ", similarRows)

IDs for the rows that have duplicates except ID:  []